@use "../../styles/variables" as *;
.projects {
    padding: 40px 20px;
    background-color: var(--color-grey-light);
    color: var(--color-black);
    text-align: center;
  
    &__title {
      font-family: monospace;
      font-size: 32px;
      color: var(--color-black);
      margin-bottom: 30px;
    }
  
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  
  .project-card {
    display: block;
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
  
    &__image {
      height: 200px;
      background-size: cover;
      background-position: center;
      filter: grayscale(100%);
      transition: filter 0.3s;
  
      &:hover {
        filter: grayscale(0%);
      }
    }
  
    &__content {
      padding: 20px;
      text-align: left;
    }
  
    &__title {
      font-family: monospace;
      font-size: 20px;
      color: var(--color-grey);
      margin-bottom: 10px;
    }
  
    &__description {
      font-family: monospace;
      font-size: 16px;
      color: var(--color-grey);
      margin-bottom: 20px;
    }
  
    &__tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      list-style: none;
      text-decoration: none;
      padding: 0;
      font-family: monospace;
      color: var(--color-grey);
  
      &__tech {
        background-color: var(--color-white);
        color: var(--color-black);
        border-radius: 4px;
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }
  