@use '../../styles/variables' as *;

// Header Styles
.header {
  display: flex;
  flex-direction: column; // Mobile-first layout
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px 20px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey);

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; // Spacing for mobile layout
  }

  &__email {
    color: var(--color-black);
    font-family: monospace;
    font-size: 14px;
  }

  &__button {
    padding: 5px 10px;
    margin-right: 1rem;
    text-decoration: none;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    font-family: monospace;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--color-black);

    &:hover {
      background-color: var(--color-grey);
      color: var(--color-white);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%; // Ensure full width for mobile layout
    //justify-content: space-between; // Adjust items for better spacing
  }

  &__menu-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-black);
    margin-left: auto;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-left: auto;

    &--open {
      display: flex;
    }

    &-item {
      color: var(--color-grey);
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 4px;

      &:hover {
        background-color: var(--color-grey);
        color: var(--color-white);
      }
    }
  }
}

// Responsive Design
@media (min-width: 1024px) {
  .header {
    flex-direction: row; // Switch to row layout for desktop
    align-items: center;

    &__left {
      margin-bottom: 0; // Remove spacing for desktop
    }

    &__menu-button {
      display: none; // Hide menu button on larger screens
    }

    &__menu {
      display: flex;
      position: static; // Remove absolute positioning
      flex-direction: row; // Horizontal layout for menu items
      gap: 20px;
      box-shadow: none;
      border: none;
      padding: 0;
    }
  }
}
